<footer class="footer__content-bottom-wrapper">
  <div class="footer__copyright caption">
    <small class="copyright__content"
      >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
    </small>
    <small class="copyright__content">{{ powered_by_link }}</small>
    {%- if section.settings.show_policy -%}
      <ul class="policies list-unstyled">
        {%- for policy in shop.policies -%}
          {%- if policy != blank -%}
            <li>
              <small class="copyright__content"
                ><a href="{{ policy.url }}">{{ policy.title }}</a></small
              >
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</footer>
