<header class="navbar-custom">
  <div class="header-logo">
    <a href="{{ routes.root_url }}">
      {%- if settings.logo != blank -%}
        <div class="header__heading-logo-wrapper">
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        </div>
      {%- else -%}
        <span>{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </div>

  <ul class="nav">
    {% for link in linklists['main-menu'].links %}
      <li class="nav-item">
        <a href="{{ link.url }}" class="nav-link {% if link.url == request.path %}active{% endif %}">
          {{- link.title -}}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="cart-icon">
    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link" id="cart-icon-bubble">
      {%- liquid
        if cart == empty
          render 'icon-cart-empty'
        else
          render 'icon-cart'
        endif
      -%}
      {% if cart != empty %}
        <div class="cart-count-bubble">
          {%- if cart.item_count < 100 -%}
            <span aria-hidden="true">{{ cart.item_count }}</span>
          {%- endif -%}
        </div>
      {%- endif -%}
    </a>
  </div>
</header>
